<div class="main-container pb0">
  <div class="middle-container mb0">
    <div class="page-heading">
      <img src="assets/img/distribution_icon.svg" class="h-icon">
      <div class="heading-text">
        <h2>Report Incentive</h2>
      </div>
    </div>

    <div class="left-auto">
      <div class="from-fields cs-flex" style="margin-left: -100px;">
        <div class="control-field mr10">
          <mat-form-field class="cs-input date-column infix-bodr">
            <input matInput [matDatepicker]="picker1" placeholder="From" name="date_from"
              [(ngModel)]="search_val.date_from" (dateChange)="onBetweenDate($event, 'date_from')" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="control-field mr10">
          <mat-form-field class="cs-input date-column infix-bodr">
            <input matInput [matDatepicker]="pickers" placeholder="To" name="date_to" [(ngModel)]="search_val.date_to"
              (dateChange)="onBetweenDate($event, 'date_to')" readonly>
            <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
            <mat-datepicker #pickers></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="cs-flex" *ngIf="search_val.date_from && search_val.date_to">
        <button mat-raised-button style="background-color: #275478; color: #fff" (click)="getReportIncentive()">
          Go
        </button>
      </div>

      <div class="cs-flex" *ngIf="search_val.date_from == '' && search_val.date_to == ''">
        <button mat-raised-button style="background-color: #275478; color: #fff">
          Go
        </button>
      </div>





    </div>
    <div class="uppr-one m-right-data">
      <ul>
        <li class="refresh-area mr0 after-none">
          <a class="refresh-btn" mat-raised-button (click)="refresh()" matTooltip="Refresh"><i class="material-icons">
              refresh</i></a>
        </li>
      </ul>


    </div>
  </div>



  <div class="cs-table cs-table-scroll no-tab">
    <div class="stickyTableHead" style="width: fit-content;">
      <div class="table-head">
        <table>
          <tr>
            <th class="w50 text-center">&nbsp;</th>
            <th class="w200 text-center">Brand</th>
            <th class="w180 text-center">Sale Qty</th>
            <th class="text-center">Market ({{ReportIncentiveList.sales_point}})% </th>
            <th class="text-center">Warehouse ({{ReportIncentiveList.warehouse_points}})% </th>

          </tr>
        </table>
      </div>
      <div class="table-head bdrt">
        <table class="sno-border">
          <tr>
            <th class="w50"></th>
            <th class="w200">
              <div class="th-search-acmt">
                <mat-form-field class="example-full-width cs-input select-input">
                  <input matInput placeholder="Enter Brand...." [matAutocomplete]="brand_name"
                    (keyup.enter)="getReportIncentive()"
                    (input)="category_array_filter(search_val.brand_name,tmp_category)" name="brand_name"
                    #brand_name="ngModel" [(ngModel)]="search_val.brand_name">
                  <mat-autocomplete #brand_name="matAutocomplete">
                    <mat-option *ngFor="let category of category_list" (click)="getReportIncentive()"
                      value="{{category.category}}">
                      <small>{{category.category}}</small>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </th>
            <th class="w180">
              <!-- <div class="th-search-acmt">
                <mat-form-field class="example-full-width cs-input select-input">

                  <input matInput placeholder="Created By. . ." type="text" name="created_by" [(ngModel)]="search.created_by" (keyup.enter)="get_Point_Master_list()" >
                </mat-form-field>
              </div> -->
            </th>

            <th>
              <!-- <table>
                <tr>
                  <th>HO1 ({{ReportIncentiveList.ho1_point}})% </th>
                  <th>SALESMAN ({{ReportIncentiveList.salesman_point}})% </th>
                  <th>COLLECTION ({{ReportIncentiveList.collection_points}})% </th>
                </tr>
              </table> -->

            </th>

            <th>
              <!-- <table>
                <tr>
                  <th>TELEPHONE OP ({{ReportIncentiveList.telephone_op_point}})% </th>
                  <th>WAREHOUSE KEEP ({{ReportIncentiveList.warehouse_keep_point}})% </th>
                  <th>DISPATCH ({{ReportIncentiveList.dispatch_point}})% </th>
                  <th>LABOUR ({{ReportIncentiveList.labour_points}})% </th>
                </tr>
              </table> -->
            </th>









          </tr>
        </table>
      </div>
    </div>

    <div class="table-container mb60">
      <div class="table-content" style="width: fit-content;">
        <table>
          <ng-container *ngFor="let data of ReportIncentiveBrandList;let i = index">



            <tr>
              <td class="w50">{{i+1}}</td>
              <td class="w200">{{data.brand_name}}</td>
              <td class="w180">{{data.total_qty}}</td>
              <td>
                {{data.ho1_point+data.salesman_point+data.collection_points | number:'1.2-2'}}
                <!-- <table>
                  <tr>
                    <td>{{data.ho1_point}}</td>
                    <td>{{data.salesman_point}}</td>
                    <td>{{data.collection_points}}</td>
                  </tr>
                </table> -->
              </td>
              <td>
                {{data.telephone_op_point+data.warehouse_keep_point+data.dispatch_point+data.labour_points | number:'1.2-2'}}

                <!-- <table>
                  <tr>
                    <td>{{data.telephone_op_point}}</td>
                    <td>{{data.warehouse_keep_point}}</td>
                    <td>{{data.dispatch_point}}</td>
                    <td>{{data.labour_points}}</td>
                  </tr>
                </table> -->
              </td>
            </tr>

          </ng-container>

          <ng-container *ngFor="let lead of skelton">
            <tr class="sk-loading" *ngIf="loader">
              <td class="w50">
                <div>&nbsp;</div>
              </td>
              <td class="w200">
                <div>&nbsp;</div>
              </td><!-- Brands -->
              <td class="w180">
                <div>&nbsp;</div>
              </td><!-- Sale Qty -->
              <td>

                <!-- <table>
                  <tr>
                    <th>
                      <div>&nbsp;</div>
                    </th>
                    <th>
                      <div>&nbsp;</div>
                    </th>
                    <th>
                      <div>&nbsp;</div>
                    </th>
                  </tr>
                </table> -->

              </td><!-- market-->
              <td>
                <!-- <table>
                  <tr>
                    <td>
                      <div>&nbsp;</div>
                    </td>
                    <td>
                      <div>&nbsp;</div>
                    </td>
                    <td>
                      <div>&nbsp;</div>
                    </td>
                    <td>
                      <div>&nbsp;</div>
                    </td>
                  </tr>
                </table> -->
              </td><!-- Warehouse -->


            </tr>
          </ng-container>
          <ng-container>
            <div class="data-not-available" *ngIf="ReportIncentiveBrandList.length==0">
              <div class="outer">
                <div class="iinear">
                  <div class="figure" matRipple>
                    <div class="header">
                      <img src="assets/img/data-not-available-header.svg" alt="">
                    </div>
  
                    <div class="description">
                      <div class="cs-heading">
                        <h2>Report Incentive List</h2>
                      </div>
                      <div class="img">
                        <i class="material-icons">error_outline</i>
                      </div>
                      <div class="psc">
                        <p>data not Found</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </table>

      </div>
    </div>

  </div>








  <!-- <div class="fix-btn">
    <a *ngIf="true" class="bottom-btn" matTooltip="Add New" matTooltipPosition="above" mat-raised-button
      (click)="addIncentiveMaster()"><i class="material-icons">add</i></a>
  </div> -->
</div>