<div class="edit-modal"
    *ngIf="data.type !='brand'&&  data.type!='DealerDiscountEdit' &&  data.type !='coupon_value' && data.type != 'category' && data.category != 'user' && data.type != 'discount'">
    <p class="heading">Update</p>
    <div mat-dialog-content>

        <mat-form-field class="example-full-width cs-input cs-field">
            <input matInput placeholder="" name="product" #product="ngModel" [(ngModel)]="data.value"
                [ngClass]="{'has-error' : product.invalid } " required>
            <div class="alert alert-danger" *ngIf="!product.valid && product.touched">
                field is required....
            </div>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
        <div *ngIf="product.valid  ">
            <button color="accent" mat-button (click)="update()">Save</button>
        </div>
    </div>
</div>

<div class="edit-modal"
    *ngIf="data.category=='user' && data.type!='email' && data.type!='contact_01' && data.type!='manager' && data.type!='name' && data.type!='user_type' && data.type!='ware_house_name'  && data.type!='access_level' && data.type!='username' && data.type!='password' && data.type!='incentive_percent' && data.type!='aniversary_date' && data.type!='birthday_date' && data.type!='work_effeciency_point' && data.type!='sales_team_code' && data.type!='working_state'">
    <p class="heading">Update User detail</p>
    <div mat-dialog-content>

        <mat-form-field class="example-full-width wp100 cs-field">
            <input matInput placeholder="" name="user" #user="ngModel" [(ngModel)]="data.value"
                [ngClass]="{'has-error' : user.invalid } " required>
            <div class="alert alert-danger" *ngIf="!user.valid && user.touched">
                field is required....
            </div>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
        <div *ngIf="user.valid">
            <button mat-button color="accent" (click)="update_user()">Save</button>
        </div>
    </div>
</div>


<div class="edit-modal" *ngIf="data.type=='category'">
    <p class="heading">Update Product Details</p>
    <div mat-dialog-content>

        <div class="row mt20">
            <!-- <div class="col s6">
                <div class="control-field">
                    <div mat-dialog-content>
                        <mat-form-field class="example-full-width cs-input cs-field">
                            <input matInput placeholder="Product Code" name="product" #product="ngModel" [(ngModel)]="data_category.cat_no" required>
                        </mat-form-field>
                    </div>
                </div>
            </div> -->

            <div class="col s6">
                <div class="control-field">
                    <div mat-dialog-content>
                        <mat-form-field class="example-full-width cs-input cs-field">
                            <input matInput placeholder="Product name" name="product" #product="ngModel"
                                [(ngModel)]="data_category.product_name" required>

                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="col s6">
                <div class="control-field">
                    <div mat-dialog-content>
                        <mat-form-field class="example-full-width cs-input cs-field">
                            <input matInput placeholder="Product Price" name="price" #price="ngModel"
                                [(ngModel)]="data_category.price" required>
                        </mat-form-field>
                    </div>
                </div>
            </div>



        </div>

        <!-- <div class="row mt20">
           
            
        </div> -->

        <div class="row mt20">
            <div class="col s6">
                <div class="control-field">
                    <mat-form-field class="cs-input">
                        <mat-select name="stock_status" placeholder="Stock Availability" #stock_status="ngModel"
                            [(ngModel)]="data_category.stock_status"
                            (ngModelChange)="data_category.stock_incoming_days = ''">
                            <mat-option disabled="">Select Stock Availability</mat-option>
                            <mat-option value="In Stock">In stock</mat-option>
                            <mat-option value="Out Of Stock">Out of Stock</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col s6" *ngIf="data_category.stock_status == 'Out Of Stock'">
                <div class="control-field">
                    <div mat-dialog-content>
                        <mat-form-field class="example-full-width cs-input cs-field">
                            <input matInput placeholder="Stock Available (in days)" name="stock_incoming_days"
                                #stock_incoming_days="ngModel" [(ngModel)]="data_category.stock_incoming_days" required>
                            <div class="alert alert-danger"
                                *ngIf="!stock_incoming_days.valid && stock_incoming_days.touched">
                                field is required....
                            </div>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>


    </div>



    <div mat-dialog-actions>
        <button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
        <div *ngIf="data_category.category != '' ">
            <button mat-button color="accent"
                [disabled]="data_category.stock_status == 'Out Of Stock' && !data_category.stock_incoming_days ? true: false "
                (click)="updateCategory()">Save</button>
        </div>
    </div>
</div>

<div class="edit-modal" *ngIf="data.type=='discount'">
    <p class="heading">Update Discount</p>
    <div mat-dialog-content>

        <mat-form-field class="example-full-width wp100 cs-field">
            <input matInput placeholder="" name="category" #category="ngModel" [(ngModel)]="data.value1"
                [ngClass]="{'has-error' : category.invalid } " readonly>
            <div class="alert alert-danger" *ngIf="!category.valid && category.touched">
                field is required....
            </div>
        </mat-form-field>
        <mat-form-field class="example-full-width wp100 cs-field">
            <input matInput placeholder="" name="discount" #discount="ngModel" [(ngModel)]="data.value2"
                [ngClass]="{'has-error' : discount.invalid } " required>
            <div class="alert alert-danger" *ngIf="!discount.valid && discount.touched">
                field is required....
            </div>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
        <div *ngIf="discount.valid">
            <button mat-button color="accent" (click)="update_discount()">Save</button>
        </div>
    </div>
</div>

<div class="edit-modal" *ngIf="data.type=='email'">
    <p class="heading">Update Email</p>
    <form validate #update_basic="ngForm" name="update_basic"
        (ngSubmit)="(user.valid && update_basic.submitted)?update_user():''">
        <div mat-dialog-content>

            <mat-form-field class="example-full-width wp100 cs-field">
                <input matInput type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="user"
                    #user="ngModel" [(ngModel)]="data.value" [ngClass]="{'has-error' : user.invalid } " required="true">
                <div class="alert alert-danger" *ngIf="!user.valid && update_basic.submitted">
                    field is Invalid....
                </div>
            </mat-form-field>
        </div>
        <div mat-dialog-actions>
            <button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
            <div>
                <button type="submit" color="accent" mat-button>Save</button>
            </div>
        </div>
    </form>

</div>

<div class="edit-modal" *ngIf="data.type=='contact_01'">
    <p class="heading">Update Mobile</p>
    <form validate #update_basic="ngForm" name="update_basic"
        (ngSubmit)="(user.valid && update_basic.submitted)?update_user():''">
        <div mat-dialog-content>

            <mat-form-field class="example-full-width wp100 cs-field">
                <input matInput type="tel" minlength="10" maxlength="10" name="user" #user="ngModel"
                    [(ngModel)]="data.value" [ngClass]="{'has-error' : user.invalid } "
                    (keypress)="MobileNumber($event)" required="true">
                <div class="alert alert-danger" *ngIf="!user.valid && update_basic.submitted">
                    Mobile is Invalid....
                </div>
            </mat-form-field>
        </div>
        <div mat-dialog-actions>
            <button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
            <div>
                <button type="submit" color="accent" mat-button>Save</button>
            </div>
        </div>
    </form>
</div>

<div class="edit-modal" *ngIf="data.type=='working_state'">
    <p class="heading">Working State</p>
    <form validate #update_basic="ngForm" name="update_basic"
        (ngSubmit)="(state_name.valid && update_basic.submitted)?update_user():''">
        <div mat-dialog-content>

            <mat-form-field class="example-full-width wp100 cs-field">
                <mat-select name="state_name" #state_name="ngModel" [(ngModel)]="data.value"
                    [ngClass]="{'has-error' : state_name.invalid } " required>
                    <mat-option disabled="">Select State</mat-option>
                    <mat-option *ngFor="let state_name of state_list" value="{{state_name}}">{{state_name}}</mat-option>
                </mat-select>
                <div class="alert alert-danger" *ngIf="!state_name.valid && update_basic.submitted">
                    State is required....
                </div>
            </mat-form-field>
        </div>
        <div mat-dialog-actions>
            <button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
            <div>
                <button type="submit" color="accent" mat-button>Save</button>
            </div>
        </div>
    </form>
</div>

<div class="edit-modal" *ngIf="data.type=='username'">
    <p class="heading">Update username</p>
    <form validate #update_basic="ngForm" name="update_basic"
        (ngSubmit)="(username.valid && update_basic.submitted)?update_user():''">
        <div mat-dialog-content>

            <mat-form-field class="example-full-width wp100 cs-field">
                <input matInput name="username" #username="ngModel" [(ngModel)]="data.value"
                    [ngClass]="{'has-error' : username.invalid } ">
                <div class="alert alert-danger" *ngIf="!username.valid && update_basic.submitted">
                    username is Invalid....
                </div>
            </mat-form-field>
        </div>
        <div mat-dialog-actions>
            <button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
            <div>
                <button type="submit" color="accent" mat-button>Save</button>
            </div>
        </div>
    </form>
</div>

<div class="edit-modal" *ngIf="data.type=='password'">
    <p class="heading">Update Password</p>
    <form validate #update_basic="ngForm" name="update_basic" (ngSubmit)="update_user()">
        <div mat-dialog-content>
            <mat-form-field class="example-full-width wp100 cs-field">
                <input matInput name="password" #password="ngModel" [(ngModel)]="data.value"
                    [ngClass]="{'has-error' : password.invalid } ">
                <div class="alert alert-danger" *ngIf="!password.valid && update_basic.submitted">
                    Password is Invalid....
                </div>
            </mat-form-field>
        </div>
        <div mat-dialog-actions>
            <button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
            <div>
                <button type="submit" color="accent" mat-button>Save</button>
            </div>
        </div>
    </form>
</div>

<div class="edit-modal" *ngIf="data.type=='incentive_percent'">
    <p class="heading">Update Incentive Point Percentage</p>
    <form validate #update_basic="ngForm" name="update_basic" (ngSubmit)="update_user()">
        <div mat-dialog-content>
            <mat-form-field class="example-full-width wp100 cs-field">
                <input matInput name="incentive_percent" #incentive_percent="ngModel"
                    onkeypress="return event.charCode >=48 && event.charCode<=57" [(ngModel)]="data.value"
                    [ngClass]="{'has-error' : incentive_percent.invalid } ">
                <div class="alert alert-danger" *ngIf="!incentive_percent.valid && update_basic.submitted">
                    Incentive Point is Invalid....
                </div>
            </mat-form-field>
        </div>
        <div mat-dialog-actions>
            <button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
            <div>
                <button type="submit" color="accent" mat-button>Save</button>
            </div>
        </div>
    </form>
</div>

<div class="edit-modal" *ngIf="data.type=='work_effeciency_point'">
    <p class="heading">Update Work Effieciency Point</p>
    <form validate #update_basic="ngForm" name="update_basic" (ngSubmit)="update_user()">
        <div mat-dialog-content>
            <mat-form-field class="example-full-width wp100 cs-field">
                <input matInput name="work_effeciency_point" #work_effeciency_point="ngModel"
                    onkeypress="return event.charCode >=48 && event.charCode<=57" [(ngModel)]="data.value"
                    [ngClass]="{'has-error' : work_effeciency_point.invalid } ">
                <div class="alert alert-danger" *ngIf="!work_effeciency_point.valid && update_basic.submitted">
                    Work Efficiency Point is Invalid....
                </div>
            </mat-form-field>
        </div>
        <div mat-dialog-actions>
            <button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
            <div>
                <button type="submit" color="accent" mat-button>Save</button>
            </div>
        </div>
    </form>
</div>

<div class="edit-modal" *ngIf="data.type=='birthday_date'">
    <p class="heading">Update Date Of Birth</p>
    <form validate #update_basic="ngForm" name="update_basic" (ngSubmit)="update_user()">
        <div mat-dialog-content>
            <mat-form-field class="cs-input date-column infix-bodr">
                <input matInput [matDatepicker]="picker1" max="{{today_date}}" placeholder="Select Your Date Of Birth"
                    name="birthday_date" [(ngModel)]="data.value" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        <div mat-dialog-actions>
            <button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
            <div>
                <button type="submit" color="accent" mat-button>Save</button>
            </div>
        </div>
    </form>
</div>

<div class="edit-modal" *ngIf="data.type=='aniversary_date'">
    <p class="heading">Update Anniversay Date</p>
    <form validate #update_basic="ngForm" name="update_basic" (ngSubmit)="update_user()">
        <div mat-dialog-content>
            <mat-form-field class="cs-input date-column infix-bodr">
                <input matInput [matDatepicker]="picker2" max="{{today_date}}"
                    placeholder="Select Your Anniversary Date" name="aniversary_date" [(ngModel)]="data.value" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </div>
        <div mat-dialog-actions>
            <button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
            <div>
                <button type="submit" color="accent" mat-button>Save</button>
            </div>
        </div>
    </form>
</div>


<div class="edit-modal" *ngIf="data.type=='access_level'">
    <p class="heading">Update Designation</p>
    <form validate #update_basic="ngForm" name="update_basic"
        (ngSubmit)="(user.valid && update_basic.submitted)?update_user():''">
        <div mat-dialog-content>

            <mat-form-field class="example-full-width wp100 cs-field">
                <mat-select name="user" #user="ngModel" [(ngModel)]="data.value"
                    [ngClass]="{'has-error' : user.invalid } " required="true">
                    <mat-option value="">Select Designation</mat-option>
                    <mat-option *ngFor="let rsm of role_data" value="{{rsm.id}}">{{rsm.role_name}}</mat-option>
                </mat-select>
            </mat-form-field>


        </div>
        <div mat-dialog-actions>
            <button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
            <div>
                <button type="submit" color="accent" mat-button>Save</button>
            </div>
        </div>
    </form>

</div>


<div class="edit-modal" *ngIf="data.type=='sales_team_code'">
    <p class="heading">Update Sales Code</p>
    <form validate #update_basic="ngForm" name="update_basic"
        (ngSubmit)="(user.valid && update_basic.submitted)?update_user():''">
        <div mat-dialog-content>

            <mat-form-field class="example-full-width wp100 cs-field">
                <mat-select name="user" #user="ngModel" [(ngModel)]="data.value"
                    [ngClass]="{'has-error' : user.invalid } " required="true">
                    <mat-option disabled value="">Select Sales Sales Code</mat-option>
                    <mat-option *ngFor="let rsm of sales_code" value="{{rsm.sales_team_code}}">{{rsm.sales_team_code}}</mat-option>
                </mat-select>
            </mat-form-field>


        </div>
        <div mat-dialog-actions>
            <button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
            <div>
                <button type="submit" color="accent" mat-button>Save</button>
            </div>
        </div>
    </form>

</div>



<div class="edit-modal" *ngIf="data.type=='name'">
    <p class="heading">Update User Name</p>
    <form validate #update_basic="ngForm" name="update_basic"
        (ngSubmit)="(user.valid && update_basic.submitted)?update_user():''">
        <div mat-dialog-content>


            <mat-form-field class="example-full-width wp100 cs-field">
                <input matInput type="text" name="user" #user="ngModel" [(ngModel)]="data.value"
                    [ngClass]="{'has-error' : user.invalid } " required="true">
                <div class="alert alert-danger" *ngIf="!user.valid && update_basic.submitted">
                    Name is Required....
                </div>
            </mat-form-field>
        </div>
        <div mat-dialog-actions>
            <button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
            <div>
                <button type="submit" color="accent" mat-button>Save</button>
            </div>
        </div>
    </form>

</div>


<div class="edit-modal" *ngIf="data.type=='user_type'">
    <p class="heading">Update User Type</p>
    <form validate #update_basic="ngForm" name="update_basic"
        (ngSubmit)="(user.valid && update_basic.submitted)?update_user():''">
        <div mat-dialog-content>


            <mat-radio-group aria-placeholder="User Type" name="user" #user="ngModel" [(ngModel)]="data.value"
                [ngClass]="{'has-error' : user.invalid } " required="true">
                <mat-radio-button class="example-margin" color="accent" value="Market">Market</mat-radio-button>
                <mat-radio-button class="example-margin" color="accent" value="Office">Office</mat-radio-button>
                <mat-radio-button class="example-margin" color="accent" value="Showroom">Showroom</mat-radio-button>
                <mat-radio-button class="example-margin" color="accent" value="Warehouse">Warehouse</mat-radio-button>
                <div class="alert alert-danger" *ngIf="!user.valid && update_basic.submitted">
                    Type is required....
                </div>
            </mat-radio-group>


        </div>
        <div mat-dialog-actions>
            <button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
            <div>
                <button type="submit" color="accent" mat-button>Save</button>
            </div>
        </div>
    </form>

</div>

<div class="edit-modal" *ngIf="data.type=='ware_house_name' && false">
    <p class="heading">Update Warehouse</p>
    <form validate #update_basic="ngForm" name="update_basic"
        (ngSubmit)="(user.valid && update_basic.submitted)?update_user():''">

        <div mat-dialog-content>

            <mat-form-field class="cs-input">
                <mat-select name="value" placeholder="Salect Warehouse" [(ngModel)]="data.value" #value="ngModel">
                    <mat-option disabled value="">Select Warehouse</mat-option>
                    <mat-option *ngFor="let ware_house_data of ware_house_listing"
                        value="{{ware_house_data.id}}">{{ware_house_data.ware_house_name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div mat-dialog-actions>
            <button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
            <div>
                <button type="submit" color="accent" mat-button>Save</button>
            </div>
        </div>
    </form>
</div>

<div class="edit-modal" *ngIf="data.type=='manager'">
    <p class="heading">Update RSM Assigned</p>
    <div mat-dialog-content>

        <mat-form-field class="cs-input">
            <mat-select name="pincode" placeholder="Assing RSM" name="value" [(ngModel)]="data.value">
                <mat-option value="">Select RSM</mat-option>
                <mat-option *ngFor="let rsm of rsm_list" value="{{rsm.id}}">{{rsm.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
        <div>
            <button (click)="rsm_update(data.value)" color="accent" mat-button>Save</button>
        </div>
    </div>

</div>

<div class="edit-modal" *ngIf="data.type=='coupon_value'">
    <p class="heading">Update Coupon Value</p>
    <div mat-dialog-content>

        <mat-form-field class="cs-input">
            <input matInput type="text" name="user" #user="ngModel" [(ngModel)]="data.value"
                [ngClass]="{'has-error' : user.invalid } " required="true">

        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
        <div>
            <button (click)="coupon_value_update(data.value)" color="accent" mat-button>Save</button>
        </div>
    </div>

</div>

<div class="edit-modal" *ngIf="data.type=='DealerDiscountEdit'">
    <p class="heading">Update Retail Partner Discount</p>
    <div mat-dialog-content>

        <mat-form-field class="cs-input">
            <input matInput type="text" name="user" maxlength="2" #user="ngModel" [(ngModel)]="data.dealer_discount"
                [ngClass]="{'has-error' : user.invalid } " (keypress)="MobileNumber($event)" required="true">

        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
        <div>
            <button (click)="updateDiscount(data.updateDiscount)" color="accent" mat-button>Save</button>
        </div>
    </div>

</div>