
<div class="main-container">

  <div *ngIf="loader">
    <mat-spinner class="loader">
      <div><p>Loading....</p></div>
    </mat-spinner>
  </div>
  <div class="middle-container">
    <div class="page-heading" >
      <div class="heading-text bc-space">


        <div class="back-btn" (click)="back()">
          <a mat-button ><i class="material-icons">arrow_right_alt</i></a>
        </div>
        <h2>POP & Gift Detail</h2>
      </div>
    </div>

    <div class="left-auto button-group" >
      <button mat-raised-button color="accent"  color="accent"  (click)="openDialog()" *ngIf="order_detail.order_status=='Pending'">
        Change Status
      </button>

      <button mat-raised-button  color="accent"  (click)="open_dipatch_model()"  *ngIf="(order_detail.order_status=='Approved' ||order_detail.order_status=='PDispatch') && order_detail.order_status!='Dispatch'" >
        Dispatch Item
      </button>




    </div>
    <!-- <div class="action-menu">
      <mat-menu #menu="matMenu" class="drop-down-menu">
        <button mat-menu-item >
          <span>Download With Image</span>
        </button>
        <button mat-menu-item >
          <span>Download Without Image</span>
        </button>
      </mat-menu>
    </div> -->
  </div>


  <div class="container-outer">
    <div class="container" >

      <div class="row" >
        <div class="col s6">
          <div class="details-info">
            <div class="basic-details">
              <div class="cs-heading">
                <h2>Order Details</h2>
              </div>
              <div class="cs-figure">
                <ul>
                  <li>
                    <div class="outer">
                      <div class="inner">
                        <span> Date</span>
                        <p>{{order_detail.date_created | date:' d MMM , y, hh : mm aa' }}</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="outer">
                      <div class="inner">
                        <span>Order ID</span>
                        <p>{{order_detail.order_no}}</p>
                      </div>
                    </div>
                  </li>

                  <li >
                    <div class="outer">
                      <div class="inner">
                        <span>Order Status</span>
                        <p>{{order_detail.order_status && order_detail.order_status != '' && order_detail.order_status == 'PDispatch'? 'Partial Dispatch' : (order_detail.order_status && order_detail.order_status != '' && order_detail.order_status != 'PDispatch' ? order_detail.order_status : '--' )   }}</p>
                      </div>
                    </div>
                  </li>




                </ul>

                <ul class="mt10" >
                  <li style="border: 1px solid #B29D9D;">
                    <div class="outer">
                      <div class="inner">
                        <span>Created By</span>
                        <p>{{order_detail.created_by_name}}</p>
                      </div>
                    </div>
                  </li>

                  <li *ngIf="order_detail.order_status == 'Reject'">
                    <div class="outer">
                      <div class="inner">
                        <span>REASON OF REJECT</span>
                        <p>{{order_detail.reason && order_detail.reason != ''? order_detail.reason : '--' }}</p>
                      </div>
                    </div>
                  </li>

                  <li *ngIf="order_detail.order_status == 'Hold'">
                    <div class="outer">
                      <div class="inner">
                        <span>REASON OF HOLD</span>
                        <p>{{order_detail.reason && order_detail.reason != ''? order_detail.reason : '--' }}</p>
                      </div>
                    </div>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col s6">
          <div class="details-info">
            <div class="basic-details">
              <div class="cs-heading">
                <h2>Channel Partner Detail</h2>
              </div>
              <div class="cs-figure">
                <ul>
                  <li>
                    <div class="outer">
                      <div class="inner">
                        <span>Company Name</span>
                        <p>
                          {{order_detail.created_by_name}}
                        </p>
                      </div>
                    </div>
                  </li>
                  <li class="w200" style="min-width: 200px;">
                    <div class="outer">
                      <div class="inner">
                        <span>GST No.</span>
                        <p>{{order_detail.gst && order_detail.gst!= ''? order_detail.gst : '--'}}</p>
                      </div>
                    </div>
                  </li>
                </ul>
                <ul class="mt10">
                  <li style="border: 1px solid #B29D9D;">
                    <div class="outer">
                      <div class="inner">
                        <span>Address</span>
                        <p> {{order_detail.address && order_detail.address != ''?order_detail.address+',':'--' }}  {{order_detail.city && order_detail.city != ''?order_detail.city+',':'--' }}  {{order_detail.district && order_detail.district != ''?order_detail.district+',':'--' }}  {{order_detail.state && order_detail.state != ''?order_detail.state+',':'--' }} {{order_detail.country && order_detail.country != ''?order_detail.country+',':'--' }} {{order_detail.pincode && order_detail.pincode != ''?order_detail.pincode+',':'--' }} </p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row mt25">
        <div class="col s12">
          <div style="display: inline-block;
          padding: 10px;
          border-radius: 0px 20px 20px 0px;
          margin-bottom: 14px;
          background-color: #275478;
          color: white;
      ">
            <h2 style=" font-size: 13px;
            letter-spacing: 0.16em;
            line-height: 15px;
            text-align: left;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.7);">Order Item</h2>
          </div>
          <div class="cs-table left-right-20">
            <div class="table-head">
              <table class="sno-border">
                <tr>
                  <th class="w40 text-center"></th>
                  <th class="w90">Gift Image</th>
                  <th class="w150" >Brand</th>
                  <th>Product Description</th>
                  <th class="w100" >Gift Points</th>
                  <th class="w80">QTY</th>
                  <th class="w100">Pending Qty</th>
                  <th class="w100">Dispatch Qty</th>
                  <th class="w140 text-right">Total Points</th>
                </tr>
              </table>
            </div>

            <div class="table-container">
              <div class="table-content">
                <table class="sno-border">
                  <tr *ngFor="let order of cart_data; let i=index">
                    <td class="w40 text-center">{{i+1}}</td>
                    <td class="w90 text-center">
                      <a class="img-avtar">
                        <img src="{{order.image && order.image == ''? 'assets/img/NoPopNGift.png':serve.new_product_image_url_for_pop_master+order.image}}" (click)="order.image && order.image != '' ? imageModel(serve.new_product_image_url_for_pop_master+order.image): ''">
                      </a>
                    </td>
                    <td class="w150" >{{order.brand_name}}</td>
                    <td>{{order.gift_name}}</td>
                    <td class="w100" >{{order.gift_points}}</td>
                    <td class="w80" >{{order.qty}} {{order.u_o_m?order.u_o_m:''}}</td>
                    <td class="w100">{{order.pending_qty}} {{order.u_o_m?order.u_o_m:''}}</td>
                    <td class="w100" >{{order.dispatch_qty}} {{order.u_o_m?order.u_o_m:''}}</td>
                    <td class="w140 text-right">{{order.total_points}}</td>
                  </tr>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class=" mb5 ml8" style="display: inline-block;
      padding: 10px;
      border-radius: 0px 20px 20px 0px;
      margin-bottom: 14px;
      background-color: #275478;
      color: white;
  ">
        <h2 style=" font-size: 13px;
        letter-spacing: 0.16em;
        line-height: 15px;
        text-align: left;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.7);">Picture Of Branding</h2>
      </div>
      <div class="row">
        <div class="col s8">
          <div class="cs-file">
            <ul class="product-images">
              <li class="multi-images">
                <label class="cs-file-img" *ngFor="let val of image; let i = index">
                  <img [src]="val" alt="your image" (click)="imageModel(val)">
                </label>
              </li>
            </ul>
          </div>


        </div>
        <div class="col s4">
          <div class="invoice-table">
            <table>

              <tr>
                <td>Total Qty</td>
                <td class="w30 text-center">:</td>
                <td class="w200 text-right "> {{order_detail.order_total_item}}</td>
              </tr>


              <tr >
                <td>Order Total Points</td>
                <td class="w30 text-center">:</td>
                <td class="w200 text-right ">{{order_detail.order_total_points}}</td>
              </tr>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>

<div class="h50"></div>

