<div class="main-container pb0">

  <div *ngIf="exp_loader">
    <mat-spinner class="loader">
      <div>
        <p>Loading....</p>
      </div>
    </mat-spinner>
  </div>

  <div class="middle-container mb0">
    <div class="page-heading">
      <img src="assets/img/order_icon.svg" class="h-icon">
      <div class="heading-text">
        <h2>Order</h2>
        <!-- <p *ngIf="check_cnt== 0  " >{{count && count.count?count.count:'0'}} | &#8377; {{count && count.sum?count.sum:'0'}}</p>
        <p *ngIf=" check_cnt!=0 " >{{check_cnt?check_cnt:'0'}} | {{sum?sum:'0'}} </p> -->
      </div>
      <div class="left-auto ml10">
      </div>

    </div>

    <div class="left-auto ml10">
      <div class="from-fields cs-flex">
        <div class="control-field mr10">
          <mat-form-field class="cs-input date-column infix-bodr">
            <input matInput [matDatepicker]="picker1" placeholder="From" name="date_from"
              [(ngModel)]="search_val.date_from" (dateChange)="onDateBetween($event,'date_from')" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="control-field mr10">
          <mat-form-field class="cs-input date-column infix-bodr">
            <input matInput [matDatepicker]="pickers" placeholder="To" name="date_to" [(ngModel)]="search_val.date_to"
              (dateChange)="onDateBetween($event,'date_to')" readonly>
            <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
            <mat-datepicker #pickers></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="cs-flex" *ngIf="search_val.date_from && search_val.date_to">
        <button mat-raised-button style="background-color: #275478; color: #fff" (click)="orderList()">
          Go
        </button>
      </div>

      <div class="cs-flex" *ngIf="search_val.date_from == '' && search_val.date_to == '' ">
        <button mat-raised-button style="background-color: #275478; color: #fff">
          Go
        </button>
      </div>

    </div>

    <div class="uppr-one m-right-data">
      <ul>
        <li class="refresh-area mr0 after-none">
          <a class="refresh-btn" mat-raised-button matTooltip="Refresh" (click)="orderList('refresh')"><i
              class="material-icons"> refresh</i></a>
        </li>
      </ul>

      <div class="top-pagination">
        <ul>
          <li>
            <p>Pages {{pagenumber}} Of {{total_page}}</p>
          </li>
          <li>
            <button mat-button class="left-btn" (click)="start=start-page_limit; orderList()"
              [disabled]="pagenumber <= 1">
              <i class="material-icons">keyboard_arrow_left</i>
            </button>
          </li>
          <li>
            <input type="text" placeholder="GO TO" name="pagenumber"
              (keyup.enter)="start=(pagenumber*page_limit)-page_limit; orderList()" [(ngModel)]="pagenumber" min="1"
              max={{total_page}}>
          </li>

          <li>
            <button mat-button class="right-btn" (click)="start=start+page_limit; orderList()"
              [disabled]="pagenumber >= total_page">
              <i class="material-icons">keyboard_arrow_right</i>
            </button>
          </li>
        </ul>
      </div>
      <div *ngFor="let i of orderlist">
        {{i.data}}
      </div>

      <a mat-raised-button color="primary" class="delete-action mr30" *ngIf="allCount"
        (click)="deletecheckavailable()">Delete <span class="count"> {{ allCount }}</span></a>
    </div>

  </div>

  <div class="cs-table cs-table-scroll">
    <div class="stickyTableHead" style="width: fit-content;">
      <div class="tab-space">
        <div class="tabs">
          <ul>
            <!-- <li><a [ngClass]="{'active': view_tab=='all'}" (click)="filter_order_data('all')">All -->
            <li>
              <a class="pr50" [ngClass]="{'active': view_tab=='all'}" (click)="filter_order_data('all');">All
                <span class="counter">{{order_count.all_count}}</span>
              </a>
            </li>
            <!-- <li><a [ngClass]="{'active': view_tab=='Pending'}" (click)="filter_order_data('Pending')">Pending -->
            <li>
              <a class="pr50" [ngClass]="{'active': view_tab=='Pending'}"
                (click)="filter_order_data('Pending'); ">Pending
                <!-- <span style="background-color: red;border-radius: 50%;padding: 3px;margin: 2px">{{list_count}}</span> -->
                <span class="counter">{{order_count.pending_count}}</span>
              </a>
            </li>
            <!-- <li><a [ngClass]="{'active': view_tab=='Approved'}" (click)="filter_order_data('Approved')">Order Accepted -->
            <li>
              <a class="pr50" [ngClass]="{'active': view_tab=='Approved'}"
                (click)="filter_order_data('Approved');">Order Accepted
                <!-- <span style="background-color: red;border-radius: 50%;padding: 3px;margin: 2px">{{list_count}}</span> -->
                <span class="counter">{{order_count.approved_count}}</span>
              </a>
            </li>
            <!-- <li><a [ngClass]="{'active': view_tab=='PDispatch'}" (click)="filter_order_data('PDispatch')"> Partially
                Dispatched -->
            <li>
              <a class="pr50" [ngClass]="{'active': view_tab=='PDispatch'}" (click)="filter_order_data('PDispatch');">
                Partially Dispatched
                <!-- <span style="background-color: red;border-radius: 50%;padding: 3px;margin: 2px">{{list_count}}</span> -->
                <span class="counter">{{order_count.pdispatch_count}}</span>
              </a>
            </li>
            <!-- <li><a [ngClass]="{'active': view_tab=='Dispatch'}" (click)="filter_order_data('Dispatch')"> Complete
                Dispatched -->
            <li>
              <a class="pr50" [ngClass]="{'active': view_tab=='Dispatch'}" (click)="filter_order_data('Dispatch');">
                Complete Dispatched
                <!-- <span style="background-color: red;border-radius: 50%;padding: 3px;margin: 2px">{{list_count}}</span> -->
                <span class="counter">{{order_count.dispatch_count}}</span>
              </a>
            </li>
            <li>
              <a class="pr50" [ngClass]="{'active': view_tab=='Closed'}" (click)="filter_order_data('Closed');"> Closed
                <!-- <span style="background-color: red;border-radius: 50%;padding: 3px;margin: 2px">{{list_count}}</span> -->
                <span class="counter">{{order_count.closed_count}}</span>
              </a>
            </li>
            <!-- <li><a [ngClass]="{'active': view_tab=='Reject'}" (click)="filter_order_data('Reject')">Reject -->
            <li>
              <a class="pr50" [ngClass]="{'active': view_tab=='Reject'}" (click)="filter_order_data('Reject');">Reject
                <!-- <span style="background-color: red;border-radius: 50%;padding: 3px;margin: 2px">{{list_count}}</span> -->
                <span class="counter">{{order_count.reject_count}}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="table-head">
        <table>
          <tr>
            <th class="w40">S.No</th>
            <th class="w120">Date</th>
            <th class="w160">Created By</th>
            <th class="w160">Designations</th>
            <th class="w120">Order ID</th>
            <th class="w200">Company Name</th>
            <th class="w90 text-center">Total Item</th>
            <th *ngIf="view_tab=='Hold'" class="w250 text-center">Hold Reason</th>
            <th *ngIf="view_tab=='Approved'" class="w120 text-center">Order Total Qty</th>
            <th *ngIf="view_tab=='Approved'" class="w120 text-center">Dispatch Qty</th>
            <th text-center *ngIf="view_tab=='all'" class="w90">Status</th>
            <th text-center *ngIf="view_tab=='Approved'" class="w130">Approved By</th>
            <th text-center *ngIf="view_tab!='all' && view_tab!='Pending' && view_tab!='Approved'" class="w130">Action
              By</th>
            <th text-center *ngIf="view_tab=='Approved' || view_tab=='PDispatch'" class="w190">Order Accept Time</th>
            <th text-center *ngIf="view_tab=='Dispatch'" class="w190">Order Accept Time</th>
            <th text-center *ngIf="view_tab=='Dispatch'" class="w190">Complete Dispatch Time</th>
            <!-- <th text-center *ngIf="view_tab=='Approved'" class="w130">Delivery Status</th> -->
            <th text-center *ngIf="view_tab=='Approved' || view_tab=='PDispatch'" class="w130">Dispatch Pending Time
            </th>
            <th class="w120 text-right">Order Value</th>
            <th text-center *ngIf="view_tab=='Pending'" class="w130">Pending Days</th>

          </tr>
        </table>
      </div>
      <div class="table-head bdrt">
        <table class="sno-border">
          <tr>
            <th class="w40">
            <th class="w120">
              <div class="th-search-acmt">
                <mat-form-field class="cs-input date-column infix-bodr">
                  <input matInput [matDatepicker]="picker" placeholder="Date" name="date_created"
                    [(ngModel)]="search_val.date_created" (dateChange)="onDate($event)" readonly>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </th>
            <th class="w160">
              <div class="th-search-acmt">
                <mat-form-field class="example-full-width cs-input select-input">
                  <input matInput placeholder="Created By. . ." name="created_by" [(ngModel)]="search_val.created_by"
                    (keyup.enter)="orderList()">
                </mat-form-field>
              </div>
            </th>
            <th class="w160">
              <!-- <div class="th-search-acmt">
                <mat-form-field class="example-full-width cs-input select-input">
                  <input matInput placeholder="Created By. . ." name="created_by" [(ngModel)]="search_val.created_by"
                    (keyup.enter)="orderList()">
                </mat-form-field>
              </div> -->
            </th>
            <th class="w120">
              <div class="th-search-acmt">
                <mat-form-field class="example-full-width cs-input select-input">
                  <input matInput placeholder="Order Id. . ." (keyup.enter)="orderList()"
                    [(ngModel)]="search_val.order_id">
                </mat-form-field>
              </div>
            </th>
            <th class="w200">
              <div class="th-search-acmt">
                <mat-form-field>
                  <input type="text" matInput placeholder="Company Name. . ." (keyup.enter)="orderList()"
                    [(ngModel)]="search_val.company_name">

                </mat-form-field>
              </div>
            </th>
            <th class="w90 text-center"> </th>
            <th *ngIf="view_tab=='Hold'" class="w250"></th>
            <th *ngIf="view_tab=='Approved'" class="w120"></th>
            <th *ngIf="view_tab=='Approved'" class="w120"></th>
            <th *ngIf="view_tab=='all'" class="w90"></th>
            <th *ngIf="view_tab=='Approved'" class="w130">
              <div class="th-search-acmt">
                <!-- <mat-form-field>
                  <input type="text" matInput placeholder="Approved By. . ." (keyup.enter)="orderList()"
                    [(ngModel)]="search_val.approved_by">
                </mat-form-field> -->
              </div>
            </th>
            <th text-center *ngIf="view_tab!='all' && view_tab!='Pending' && view_tab!='Approved'" class="w130"></th>

            <th text-center *ngIf="view_tab=='Approved' || view_tab=='PDispatch'" class="w190"></th>
            <!-- <th  *ngIf="view_tab=='Approved'" class="w130"></th> -->
            <th text-center *ngIf="view_tab=='Approved' || view_tab=='PDispatch'" class="w130"></th>
            <th text-center *ngIf="view_tab=='Dispatch'" class="w190"></th>
            <th text-center *ngIf="view_tab=='Dispatch'" class="w190"></th>
            <th class="w120 text-right">
              <div *ngIf="view_tab=='all'">
                {{total_order_val}}
              </div>

              <div *ngIf="view_tab=='Pending'">
                {{total_pending_sum}}
              </div>

              <div *ngIf="view_tab=='Approved'">
                {{order_accepted_sum}}
              </div>

              <div *ngIf="view_tab=='PDispatch'">
                {{pdispatch_sum}}
              </div>

              <div *ngIf="view_tab=='Dispatch'">
                {{complete_dispatch_sum}}
              </div>

              <div *ngIf="view_tab=='Reject'">
                {{referred_back_sum}}
              </div>

              <div *ngIf="view_tab=='Pre Close'">
                {{pre_close_sum}}
              </div>

            </th>
            <th text-center *ngIf="view_tab=='Pending'" class="w130">
              <!-- <div class="th-search-acmt">
                <mat-form-field>
                  <input type="text" matInput placeholder="Pending Days. . ." onkeypress="return event.charCode >=48 && event.charCode <=57"  (keyup.enter)="orderList()"
                    [(ngModel)]="search_val.pending_days">

                </mat-form-field>
              </div> -->
            </th>

          </tr>
        </table>
      </div>
    </div>

    <div class="data-not-available" *ngIf="data_not_found==true">
      <div class="outer">
        <div class="iinear">
          <div class="figure" matRipple>
            <div class="header">
              <img src="assets/img/data-not-available-header.svg" alt="">
            </div>
            <div class="description">
              <div class="cs-heading">
                <h2>Order</h2>
              </div>
              <div class="img">
                <i class="material-icons">error_outline</i>
              </div>
              <div class="psc">
                <p>data not Found</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="table-container mb60">
      <div class="table-content" style="width: fit-content;">
        <table>
          <tr *ngFor="let list of orderlist ;  let i=index ;">
            <td class="w40">{{start+i+1}}</td>
            <td *ngIf="(view_tab=='all' && list.order_status == 'Pending')|| view_tab=='Pending'" class="w120">
              {{list.date_created | date:' d MMM , y, hh:mm aa '}}</td>
            <!-- [ngClass]="conDate(list.date_created) != today_date ? 'red-bgclr' : '' " -->
            <td
              *ngIf="((view_tab=='all' && list.order_status != 'Pending') || (view_tab!='all' && view_tab!='Pending' && view_tab!='PDispatch' && view_tab != 'Approved') )"
              class="w120">{{list.date_created | date:' d MMM , y, hh:mm aa '}}</td>
            <td *ngIf="((view_tab=='PDispatch' || view_tab == 'Approved'))" class="w120"
              [ngClass]="today_date > incDate(list.approved_on) ? 'red-bgclr' : '' ">{{list.date_created | date:' d MMM
              , y, hh:mm aa '}}</td>

            <td class="w160">{{list.created_by_type == 'channel partner' ? list.ord_created_by :
              list.ord_user_created_by}} ({{list.created_by_type == 'channel partner'? 'Dealer':list.created_by_type}})
            </td>
            <td class="w160">{{list.created_by_type == 'channel partner'? 'Dealer':list.created_by_type}}</td>
            <td class="w120"><a *ngIf="view_edit" class="link-btn" mat-button
                (click)="orderDetail(list.id)">{{list.order_no}}</a> {{!view_edit?list.order_no:''}}</td>
            <!-- routerLink="/order-detail/{{list.id}}"   routerLinkActive="active"-->
            <td class="w200">{{list.company_name}}</td>
            <td class="w90 text-center">{{list.order_item}}</td>
            <td *ngIf="view_tab=='Hold'" class="w250 text-center">{{list.reason_reject}}</td>
            <td *ngIf="view_tab=='Approved'" class="w120 text-center">{{list.sum_item_order_qty}}</td>
            <td *ngIf="view_tab=='Approved'" class="w120 text-center">{{list.sum_item_order_qty_dispatch ?
              list.sum_item_order_qty_dispatch : 0}}</td>
            <td *ngIf="view_tab=='all'" class="w90"
              [ngClass]="{'yellow-clr':list.order_status=='Pending' || list.order_status=='Hold','green-clr':list.order_status=='Approved','red-clr':list.order_status == 'Reject' || list.order_status == 'Rejected','blue-clr':list.order_status == 'Dispatch' || list.order_status == 'readyToDispatch'}">
              <ng-container *ngIf="list.order_status == 'Pending'">
                Pending
              </ng-container>
              <ng-container *ngIf="list.order_status == 'Approved'">
                Order Accepted
              </ng-container>
              <ng-container *ngIf="list.order_status == 'PDispatch'">
                Partially Dispatched
              </ng-container>
              <ng-container *ngIf="list.order_status == 'Dispatch'">
                Complete Dispatched
              </ng-container>
              <ng-container *ngIf="list.order_status == 'Reject' || list.order_status == 'Rejected'">
                Reject
              </ng-container>
              <ng-container *ngIf="list.order_status == 'Pre Close'">
                Pre Closed
              </ng-container>
              <ng-container *ngIf="list.order_status == 'Hold'">
                Hold
              </ng-container>
              <ng-container *ngIf="list.order_status == 'Closed'">
                Closed
              </ng-container>
              <ng-container *ngIf="list.order_status == 'readyToDispatch'">
                Ready to Dispatch
              </ng-container>

              <!-- <div class="action-btns">
                  <a *ngIf="view_edit" mat-button class="view" (click)="detailOrder(list.id)"><i class="material-icons">remove_red_eye</i> View</a>
                  <button *ngIf="view_delete" mat-button class="delete" (click)="deleteOrder(list.id)"><i class="material-icons">delete_sweep</i> Delete</button>
                </div> -->
            </td>
            <td *ngIf="view_tab=='Approved'" class="w130 green-clr">{{list.approved_by_name}}
              <!-- <div class="action-btns">
                  <a *ngIf="view_edit" mat-button class="view" (click)="detailOrder(list.id)"><i class="material-icons">remove_red_eye</i> View</a>
                  <button mat-button class="delete" *ngIf="!login_dr_id && view_delete" (click)="deleteOrder(list.id)"><i class="material-icons">delete_sweep</i> Delete</button>
                </div> -->
            </td>

            <td *ngIf="view_tab!='all' && view_tab!='Pending' && view_tab!='Approved'" class="w130">{{view_tab=='Hold'?
              list.hold_by_name : list.approved_by_name}}

            </td>

            <td text-center *ngIf="view_tab=='Approved' || view_tab=='PDispatch' " class="w190">{{list.approved_on &&
              list.approved_on != '0000-00-00 00:00:00' ? (list.approved_on | date:' d MMM , y, hh:mm aa ' ) : '--' }}
              <b> {{list.order_accept_time? "("+list.order_accept_time+")" :' --'}} </b>
            </td>
            <!-- <td *ngIf="view_tab=='Approved'" class="w130 green-clr">{{ (!list.sum_item_order_qty_dispatch || list.sum_item_order_qty_dispatch == 0) ? 'Pending' :  'Partial'}}</td> -->
            <td text-center *ngIf="view_tab=='Approved' || view_tab=='PDispatch'" class="w130">
              {{list.dispatch_pending_time?list.dispatch_pending_time:'--'}}</td>
            <td text-center *ngIf="view_tab=='Dispatch'" class="w190">{{list.approved_on && list.approved_on !=
              '0000-00-00 00:00:00' ? (list.approved_on | date:' d MMM , y, hh:mm aa ' ) : '--' }} <b>
                {{list.order_accept_time? "("+list.order_accept_time+")" :'--'}}</b></td>
            <td text-center *ngIf="view_tab=='Dispatch'" class="w190">{{list.dispatch_on && list.dispatch_on !=
              '0000-00-00 00:00:00' ? (list.dispatch_on | date:' d MMM , y, hh:mm aa ' ) : '--' }} <b>
                {{list.dispatch_time? "("+list.dispatch_time+")" :'--'}}</b></td>
            <td class="w120 text-right">&#8377; {{list.order_grand_total}}
              <div *ngIf="view_tab=='all' && view_tab=='Approved'" class="action-btns">
                <a *ngIf="view_edit" mat-button class="view" (click)="detailOrder(list.id)"><i
                    class="material-icons">remove_red_eye</i> View</a>
                <button *ngIf="view_delete" mat-button class="delete" (click)="deleteOrder(list.id)"><i
                    class="material-icons">delete_sweep</i> Delete</button>
              </div>
            </td>
            <td *ngIf="view_tab=='Pending'" class="w130">{{list.approved_pending_time?list.approved_pending_time:'--'}}
            </td>

          </tr>

          <ng-container *ngIf="loader">
            <tr class="sk-loading" *ngFor="let lead of skelton">
              <td class="w40">
                <div>&nbsp;</div>
              </td>
              <td class="w120">
                <div>&nbsp;</div>
              </td>
              <td class="w160">
                <div>&nbsp;</div>
              </td>
              <td class="w160">
                <div>&nbsp;</div>
              </td>
              <td class="w120">
                <div>&nbsp;</div>
              </td>
              <td class="w200">
                <div>&nbsp;</div>
              </td>
              <td class="w90">
                <div>&nbsp;</div>
              </td>
              <td *ngIf="view_tab=='Hold'" class="w250">
                <div>&nbsp;</div>
              </td>
              <td *ngIf="view_tab=='Approved'" class="w120">
                <div>&nbsp;</div>
              </td>
              <td *ngIf="view_tab=='Approved'" class="w120">
                <div>&nbsp;</div>
              </td>
              <td *ngIf="view_tab=='all'" class="w90">
                <div>&nbsp;</div>
              </td>
              <td *ngIf="view_tab=='Approved' " class="w130">
                <div>&nbsp;</div>
              </td>
              <td *ngIf="view_tab!='all' && view_tab!='Pending' && view_tab!='Approved'">
                <div>&nbsp;</div>
              </td>

              <td *ngIf="view_tab=='Approved' || view_tab=='PDispatch' " class="w190">
                <div>&nbsp;</div>
              </td>
              <td *ngIf="view_tab=='Dispatch' " class="w190">
                <div>&nbsp;</div>
              </td>
              <td *ngIf="view_tab=='Dispatch' " class="w190">
                <div>&nbsp;</div>
              </td>
              <td *ngIf="view_tab=='Pending' " class="w130">
                <div>&nbsp;</div>
              </td>
              <td *ngIf="view_tab=='Approved' " class="w130">
                <div>&nbsp;</div>
              </td>
              <td *ngIf="view_tab=='Approved' || view_tab=='PDispatch' " class="w130">
                <div>&nbsp;</div>
              </td>
              <td class="w120">
                <div>&nbsp;</div>
              </td>

            </tr>
          </ng-container>

        </table>

      </div>
    </div>
    <div class="search-results" data-infinite-scroll debounce [infiniteScrollDistance]="1"
      [infiniteScrollUpDistance]="2" [infiniteScrollThrottle]="10" (scrolled)="orderList()">
    </div>
  </div>


  <div class="fix-btn">
    <a class="bottom-btn" matTooltip="Add New" matTooltipPosition="left" mat-raised-button
      routerLink="/addsurfaceorder"><i class="material-icons">add</i></a>

    <a class="bottom-btn ecxel-btn" matTooltip="Download Excel" matTooltipPosition="above" mat-raised-button
      (click)="exportAsXLSX()" *ngIf="!exp_loader"><img src="assets/img/excel.svg"></a>
  </div>
</div>