<div class="main-container pb0">
  <div class="middle-container mb0">
    <div class="page-heading">
      <img src="assets/img/distribution_icon.svg" class="h-icon">
      <div class="heading-text">
        <h2>Direct Dealer</h2>
        <p>Total Direct Dealer: {{dr_count}}</p>
      </div>
      
    </div>
    
    <div class="uppr-one m-right-data">
      <ul>
        <li class="refresh-area mr0 after-none">
          <a class="refresh-btn" mat-raised-button (click)="distributorList('refresh') "  matTooltip="Refresh" ><i class="material-icons"> refresh</i></a>
        </li>
      </ul>
      
      <div class="top-pagination">
        <ul>
          <li><p>Pages {{pagenumber}} Of {{total_page}}</p>
          </li>
          <li>
            <button mat-button class="left-btn" (click)="start=start-page_limit; distributorList()" [disabled]="pagenumber <= 1">
              <i class="material-icons">keyboard_arrow_left</i>
            </button>
          </li>
          <li>
            <input type="text" placeholder="GO TO" name="pagenumber" (keyup.enter)="start=(pagenumber*page_limit)-page_limit; distributorList()" [(ngModel)]="pagenumber"  min="1" max={{total_page}} >
          </li>
          
          <li>
            <button mat-button class="right-btn" (click)="start=start+page_limit; distributorList()" [disabled]="pagenumber >= total_page">
              <i class="material-icons">keyboard_arrow_right</i>
            </button>
          </li>
        </ul>
      </div>
    </div>
    
  </div>
  
  
  <div *ngIf="exp_loader">
    <mat-spinner class="loader">
      <div><p>Loading....</p></div>
    </mat-spinner>
  </div>
  
  
  <div class="cs-table cs-table-scroll no-tab">
    <div class="stickyTableHead" style="width: fit-content;">
      <div class="table-head">
        <table>
          <tr>
            <th class="w40 text-center">&nbsp;</th>
            <th class="w110">Created Date</th>
            <th class="w150">Created By</th>
            <th class="w150">Created By Type</th>
            
            <th class="w270">Company Name</th>
            <th class="w120">Mobile No.</th>
            <th class="w80">Pin Code </th>
            <th class="w100">City </th>
            <th class="w120">State</th>
            <th class="w100">District</th>
            <th class="w110">Converted On</th>
            <th class="w150">Converted By</th>
            <th class="w110">Last Order</th>
            <th class="w110">Last Visit Executive</th>
            <th class="w180">Primary Sale</th>
            <th class="w180">Secondary Sale</th>
            <th class="w180">Assigned Sales User</th>
            <th *ngIf="view_edit" class="w70 text-center" >Status</th>
          </tr>
        </table>
      </div>
      <div class="table-head bdrt" >
        <table class="sno-border">
          <tr>
            <th class="w40"></th>
            <th class="w110">
              <div class="th-search-acmt">
                <mat-form-field class="cs-input date-column infix-bodr">
                  <input matInput [matDatepicker]="picker" placeholder="Date" name="date_created" [(ngModel)]="search_val.date_created" (dateChange)="onDate($event)" >
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </th>
            <th class="w150">
              <div class="th-search-acmt">
                <mat-form-field class="example-full-width cs-input select-input">
                  <input matInput placeholder="Created By. . ." type="text" name="created_by" [(ngModel)]="search_val.created_by" (keyup.enter)="distributorList()">
                </mat-form-field>
              </div>
            </th>
            
            <th class="w150"></th>
            
            
            <th class="w270">
              <div class="th-search-acmt">
                <mat-form-field class="example-full-width cs-input select-input">
                  <input matInput placeholder="Company Name" name="company_name" (keyup.enter)="distributorList()" [(ngModel)]="search_val.company_name" >
                </mat-form-field>
              </div>
            </th>
            
            
            
            <th class="w120">
              <div class="th-search-acmt">
                <mat-form-field class="example-full-width cs-input select-input">
                  <input matInput placeholder="MObile Number/Landine Number" name="mobile" (keyup.enter)="distributorList()" [(ngModel)]="search_val.mobile" >
                </mat-form-field>
              </div>
            </th>
            
            <th class="w80">
              <div class="th-search-acmt">
                <mat-form-field class="example-full-width cs-input select-input">
                  <input matInput placeholder="Pin Code" name="pincode" (keyup.enter)="distributorList()" [(ngModel)]="search_val.pincode" >
                </mat-form-field>
              </div>
            </th>
            
            
            <th class="w100">
              <div class="th-search-acmt">
                <mat-form-field class="example-full-width cs-input select-input">
                  <input matInput placeholder="City" name="city" (keyup.enter)="distributorList()" [(ngModel)]="search_val.city" >
                </mat-form-field>
              </div>
            </th>
            
            
            
            <th class="w120">
              <div class="th-search">
                <select (change)="distributorList()" name="state" [(ngModel)]="search_val.state">
                  <option value="">Select an Option</option>
                  <option *ngFor="let val of state_values">{{val.state_name}}</option>
                </select>
              </div>
            </th>
            
            <th class="w100"></th>
            <th class="w110"></th>
            <th class="w150"></th>
            <th class="w110">
              <div class="th-search-acmt">
                <mat-form-field class="example-full-width cs-input select-input">
                  <input matInput placeholder="Days. ." type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57"  name="last_order_days_filter" (keyup.enter)="distributorList()" [(ngModel)]="search_val.last_order_days_filter" >
                </mat-form-field>
              </div>
            </th>
            <th class="w110"></th>
            
            <th class="w180">
              
              
              
              
              
            </th>
            <th class="w180">
              
              
              
              
              
            </th>
            
            
            <th class="w180">
              <div class="th-search-acmt">
                <mat-form-field class="example-full-width cs-input select-input">
                  <input matInput placeholder="Assigned Sales User. . ." name="assign_user" (keyup.enter)="distributorList()" [(ngModel)]="search_val.assign_user">
                </mat-form-field>
              </div>
            </th>
            <th *ngIf="view_edit" class="w70">
            </th>
          </tr>
        </table>
      </div>
    </div>
    
    <div class="table-container mb60">
      <div class="table-content" style="width: fit-content;">
        <table>
          <tr *ngFor="let list of distributor_list;let i=index">
            <td class="w40 text-center">{{start+i+1}}</td>
            <td class="w110">{{list.date_created | date : 'MMMM d, y'}}</td>
            <td *ngIf="!list.created_name" class="w150">Admin</td>
            <td *ngIf="list.created_name" class="w150">{{list.created_name}}</td>
            <td class="w150">{{list.created_by_type && list.created_by_type!=''?list.created_by_type:'--'}}</td>
            
            <td class="w270"><a *ngIf="view_edit" class="link-btn" mat-button routerLink="/distribution-detail/{{list.id}}" routerLinkActive="active">{{list.company_name}}</a> {{!view_edit?list.company_name:''}}</td>
            
            <td class="w120">{{list.mobile ? list.mobile : '--'}}</td>
            <td class="w80">{{list.pincode ? list.pincode : '--'}}</td>
            <td class="w100">{{list.city ? list.city : '--'}}</td>
            <td class="w120">{{list.state ? list.state : '--'}}</td>
            <td class="w100">{{list.district ? list.district : '--'}}</td>
            <td class="w110">{{list.lead_converted_on && list.lead_converted_on!='' && list.lead_converted_on!='0000-00-00' ?(list.lead_converted_on | date : 'd MMM y'):'--' }}</td>
            <td class="w150">{{list.lead_converted_by_name && list.lead_converted_by_name!='' ?list.lead_converted_by_name:'--' }}</td>
            <td class="w110">{{list.last_order_days ?list.last_order_days + ' days':'--'}}</td>
            <td class="w110">{{list.last_visit ? list.last_visit + ' days': '--'}}</td>
            
            <td class="w180">
              <div class="one-line">
                {{list.primary_sale.count}} | &#8377; {{list.primary_sale.sum}}
              </div>
            </td>
            <td class="w180">
              <div class="one-line">
                {{list.secondary_sale.count}} | &#8377; {{list.secondary_sale.sum}}
              </div>
            </td>
            <td class="w180">{{list.assign_user}}
              <div class="action-btns">
                <a *ngIf="view_edit" mat-button class="view" (click)="userDetail(list.id)"><i class="material-icons">remove_red_eye</i> View</a>
                <button *ngIf="view_delete" mat-button class="delete" (click)="deleteUser(list.id)"><i class="material-icons">delete_sweep</i> Delete</button>
              </div>
            </td>
            <td *ngIf="view_edit" class="w70">
              <mat-slide-toggle [checked]="list.status == '0'?'false':'true'" (click)="update_status(list.id,list.status) ; distributorList('refresh')" ></mat-slide-toggle>
            </td>
          </tr>
          <ng-container *ngFor="let lead of skelton">
            <tr class="sk-loading sno-border"  *ngIf="loader">
              <td class="w40"><div>&nbsp;</div></td>
              <td class="w110"><div>&nbsp;</div></td>
              <td class="w150"><div>&nbsp;</div></td>
              <td class="w150"><div>&nbsp;</div></td>
              
              <td class="w270"><div>&nbsp;</div></td>
              <td class="w120"><div>&nbsp;</div></td>
              <td class="w80"><div>&nbsp;</div></td>
              <td class="w100"><div>&nbsp;</div></td>
              <td class="w120"><div>&nbsp;</div></td>
              <td class="w100"><div>&nbsp;</div></td>
              <td class="w110"><div>&nbsp;</div></td>
              <td class="w150"><div>&nbsp;</div></td>
              
              
              <td class="w180"><div>&nbsp;</div></td>
              <td class="w180"><div>&nbsp;</div></td>
              <td class="w180"><div>&nbsp;</div></td>
              <td *ngIf="view_edit" class="w70"><div>&nbsp;</div></td>
            </tr>
          </ng-container>
          
        </table>
        
      </div>
    </div>
    <div
    class="search-results"
    data-infinite-scroll
    debounce
    [infiniteScrollDistance]="1"
    [infiniteScrollUpDistance]="2"
    [infiniteScrollThrottle]="10"
    (scrolled)="distributorList()"
    >
  </div>
</div>

<div class="data-not-available" *ngIf="data_not_found==true">
  <div class="outer">
    <div class="iinear">
      <div class="figure" matRipple>
        <div class="header">
          <img src="assets/img/data-not-available-header.svg" alt="">
        </div>
        
        <div class="description">
          <div class="cs-heading">
            <h2>Direct Dealer List</h2>
          </div>
          <div class="img">
            <i class="material-icons">error_outline</i>
          </div>
          <div class="psc">
            <p>data not Found</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

<div class="fix-btn">
  <a class="bottom-btn ecxel-btn" matTooltip="Download Excel" matTooltipPosition="above" mat-raised-button  (click)="exportAsXLSX()"><img src="assets/img/excel.svg"></a>
  <a *ngIf="view_add" class="bottom-btn" matTooltip="Add New" matTooltipPosition="above" mat-raised-button routerLink="/add-distribution/7"><i class="material-icons">add</i></a>
</div>
</div>

