<div class="main-container" >
  <div class="middle-container">
    <div class="page-heading">
      <div class="heading-text bc-space">
        <div class="back-btn">
          <a mat-button routerLink="/sale-user-detail/{{user_id}}" routerLinkActive="active"><i class="material-icons">arrow_right_alt</i></a>
        </div>
        <h2>{{value.name}}</h2>
        <p class="light">Sales Executive</p>
      </div>
    </div>
    <div class="tabs right-tab">
      <ul>
        <li><a routerLink="/sale-user-detail/{{user_id}}" routerLinkActive="active">DETAIL</a></li>
        <li><a routerLink="/my-network/{{user_id}}" routerLinkActive="active">My Network</a></li>
        <li><a>ORDERS</a></li>
        <li><a routerLink="/user-lead-list/{{user_id}}" routerLinkActive="active">LEADS</a></li>
        
      </ul>
    </div>
  </div>
  
  <div class="container-outer">
    <div class="container" >
        <div class="row">
            <div class="col s12">
              <div class="details-info">
                <div class="img-box">
                  <img src="assets/img/user.png">
                </div>
                <div class="basic-details">
                  <div class="profile-info">
                    <ul>
                      <li class="col s4">
                        <div class="cs-box">
                          <img src="assets/img/gmail.svg" class="fix-img">
                          <span>Email</span>
                          <p class="link-clr">{{value.email}}</p>
                         <a  class="edit-icon" color="accent" matRipple matTooltip="EDIT" ><i class="material-icons">create</i></a>
                        </div>
                      </li>
                      <li  class="col s4">
                        <div class="cs-box">
                          <img src="assets/img/phone.svg" class="fix-img">
                          <span>Contact no</span>
                          <p>{{value.mobile_no_1}}</p>
                         <a class="edit-icon" color="accent" matRipple matTooltip="EDIT"><i class="material-icons">create</i></a>
                        </div>
                      </li>
                      
                    </ul>
                  </div>
                  
                  <mat-divider class="mt15 mb15"></mat-divider>
                </div>
              </div>
            </div>
          </div>
      <div class="row">
        <div class="col s12">
          <div class="list-thumbnail">
            
            <div class="cs-list cs-list-three" *ngFor="let list of userLeadList">
              <div class="list-heading">
                <h2>{{list.created_by_type}}</h2>
                <div class="left-icon-menu">
                  <ul>
                    <li><p>{{list.date_created | date :'EEEE, MMMM d, y'}}</p></li>
                    <li>
                      <div class="edit-menu">
                        <button mat-icon-button [matMenuTriggerFor]="menu"> 
                          <i class="material-icons">more_vert</i>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item>
                            <span routerLink="/lead-detail/{{list.id}}" routerLinkActive="active" >View</span>
                          </button>
                          <button mat-menu-item>
                            <span routerLink="/add-lead" routerLinkActive="active">Create Followup</span>
                          </button>
                          <button mat-menu-item>
                            <span class="red-clr"(click)="deleteLead(list.dr_id)" >Delete</span>
                          </button>
                        </mat-menu>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              
              <div class="text-box-outer">
                <div class="text-box-inner">
                  <div class="status-bar">
                    <a class="name" mat-button  routerLink="/lead-detail" routerLinkActive="active">{{list.company_name}}</a>
                    <span class="status social">SOCIAL</span>
                  </div>
                  <div class="personal-detail">
                    <ul>
                      <li>
                        <i class="material-icons">{{list.contact_person}}</i>
                        <p>A.naresh</p>
                      </li>
                      <li>
                        <i class="material-icons">call</i>
                        <p>{{list.contact_1}}</p>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <i class="material-icons">home</i>
                        <p>{{list.street}}, {{list.city}}, {{list.district}}, {{list.state}}</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

<div class="h50"></div>