
<div class="main-container" >
  <div *ngIf="loader">
    <mat-spinner class="loader">
      <div><p>Loading....</p></div>
    </mat-spinner>
  </div>
  <div class="middle-container">
    <div class="page-heading">
      <div class="heading-text bc-space">
        <div class="back-btn">
          <a mat-button routerLink="/product-list" routerLinkActive="active"><i class="material-icons">arrow_right_alt</i></a>
        </div>
        <h2>{{productDetail.product_name}}</h2>
        <p class="light">{{productDetail.category}}</p>
      </div>
      
      
      
    </div>
    <div class="left-auto"  *ngIf="!productDetail?.image_array?.length ">
      <div class="click-btn ml15" style="cursor:pointer;">
        <button  mat-button title="Add New Image" >
          <label>
            <input type="file" accept=".png,.jpg,.jpeg" (change)="insertImage($event)" style="display: none;">
            Add Image
          </label>
        </button>
       
    </div>
    </div>
  </div>

  <div class="container-outer">
    <div class="container" >
      <div class="row">
        <div class="col s8 pr10" [ngClass] ="{'s12':!productDetail?.image_array?.length}">
          <div class="sprate-box ">
            <div class="cs-heading">
              <h2>PRODUCT DETAIL</h2>
            </div>
            <!-- <a class="edit-item" (click)="editCategoryDialog('category')"><i class="material-icons">create</i></a> -->
            <mat-divider class="left-right-15 mt10"></mat-divider>
            <div class="details-thumbnail">

              <div class="row">
                <div class="col s3 ">
                  <div class="detail-field">
                    <span>Brand</span>
                    <p>{{productDetail.category}}</p>
                  </div>
                </div>

                <div class="col s3 ">
                  <div class="detail-field">
                    <span>Product Name</span>
                    <p>{{productDetail.product_name}}</p>
                  </div>
                </div>

                <div class="col s3 ">
                  <div class="detail-field">
                    <span>Price (Including Tax)</span>
                    <p>&#8377; {{productDetail.price}}</p>
                  </div>
                </div>

                <div class="col s3 ">
                  <div class="detail-field">
                    <span>Design Code</span>
                    <p>{{productDetail.design_code && productDetail.design_code!='' ? productDetail.design_code : '--'}}</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <!-- <div class="col s4 ">
                  <div class="detail-field">
                    <span>Panel Code</span>
                    <p>{{productDetail.panel_code && productDetail.panel_code!='' ? productDetail.panel_code : '--'}}</p>
                  </div>
                </div> -->
                <div class="col s3 ">
                  <div class="detail-field">
                    <span>HSN Code</span>
                    <p>{{productDetail.hsn && productDetail.hsn!='' ? productDetail.hsn : '--'}}</p>
                  </div>
                </div>
                <div class="col s3 ">
                  <div class="detail-field">
                    <span>Tax</span>
                    <p>{{productDetail.tax && productDetail.tax!='' ? productDetail.tax +' %' : '--'}}</p>
                  </div>
                </div>
                <div class="col s3 ">
                  <div class="detail-field">
                    <span>UOM</span>
                    <p>{{productDetail.uom && productDetail.uom!='' ? productDetail.uom : '--'}}</p>
                  </div>
                </div>
                <div class="col s3 ">
                  <div class="detail-field">
                    <span>Product Finish</span>
                    <p>{{productDetail.brand && productDetail.brand!='' ? productDetail.brand : '--'}}</p>
                  </div>
                </div>
              </div>
              </div>

              <div class="row">
                <div class="col s6 ">
                  <div class="detail-field">
                    <span>Description</span>
                    <p>{{productDetail.desc && productDetail.desc!='' ? productDetail.desc : '--'}}</p>
                  </div>
                </div>
                <div class="col s6 ">
                  <div class="detail-field">
                    <span>Thickness Description</span>
                    <p>{{productDetail.thickness_desc && productDetail.thickness_desc!='' ? productDetail.thickness_desc : '--'}}</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col s6 ">
                  <div class="detail-field">
                    <span>Company Description</span>
                    <p>{{productDetail.company_desc && productDetail.company_desc!='' ? productDetail.company_desc : '--'}}</p>
                  </div>
                </div>
                <div class="col s6 ">
                  <div class="detail-field">
                    <span>Print Description</span>
                    <p>{{productDetail.print_description && productDetail.print_description!='' ? productDetail.print_description : '--'}}</p>
                  </div>
                </div>
              </div>

              <div class="row">

                <div class="col s4 " *ngIf="productDetail.stock_status != ''">
                  <div class="detail-field">
                    <span>Stock Status</span>
                    <p>{{productDetail.stock_status}}</p>
                  </div>
                </div>

                <div class="col s4" *ngIf="productDetail.stock_status == 'Out Of Stock'">
                  <div class="detail-field">
                    <span>Stock Available Date</span>
                    <p>in {{productDetail.stock_incoming_days}} Days</p>
                  </div>
                </div>


              </div>

              <!-- <div class="row">
                <div class="col s3 " *ngIf="(productDetail.last_updated != '0000-00-00 00:00:00')">
                  <div class="detail-field">
                    <span>Last Update Date</span>
                    <p>{{productDetail.last_updated != '0000-00-00 00:00:00'?(productDetail.last_updated | date : 'MMM d, y') :'Not Yet Updated' }}</p>
                  </div>
                </div>

                <div class="col s3 " *ngIf="(productDetail.last_updated_by_name)">
                  <div class="detail-field">
                    <span>Last Update By</span>
                    <p>{{productDetail.last_updated_by_name ? productDetail.last_updated_by_name : 'N A'}}</p>
                  </div>
                </div>
              </div> -->


            </div>
          </div>
        <div class="col s4" *ngIf="productDetail?.image_array?.length">
          <!-- <div class="col s4"> -->
          <div class="sprate-box">
            <div class="cs-logs">
              <div class="cs-heading">
                <h2>PRODUCT IMAGES  </h2>
                <!-- <a  color="accent" style="margin:-10px" mat-button matTooltip="Company Wise Outstanding"
                matTooltipPosition="above" ><i
                    class="material-icons">download</i></a>
                    <a  color="accent" style="margin:-10px" mat-button matTooltip="Company Wise Outstanding"
                    matTooltipPosition="above" ><i
                        class="material-icons">share</i></a> -->
                <label>
                  <input type="file"  accept=".png,.jpg,.jpeg" (change)="insertImage($event)" style="display: none;">
                  Add New
                </label>
              </div>
              <mat-divider class="left-right-15 mt10"></mat-divider>
              <div class="logs-outer padding0">
                <div class="cs-image">
                  <div class="vertical-img" *ngIf="productDetail?.image_array?.length==1">
                    <div class="sm-img">
                      <ul>
                        <li class="overlay-content" *ngFor="let img of product_images;let i=index" >
                          <!-- <img src="{{img.product_image}}"> -->
                          <img (click)="openImage(img.product_image)" src="{{serve.product_image_url+img.product_image}}" >
                          <p>{{img.product_image}}</p>
                          <a class="close" matRipple matTooltip="Delete" (click)="deleteImage(img.id,i)"><i class="material-icons">delete_sweep</i></a>
                          <div class="overlay">
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="vertical-img double-img" *ngIf="productDetail?.image_array?.length==2">
                    <div class="sm-img">
                      <ul>
                        <li class="overlay-content" *ngFor="let img of product_images;let i=index">
                          <!-- <img src="{{img.product_image}}"> -->
                          <img (click)="openImage(img.product_image)" src="{{serve.product_image_url+img.product_image}}" >

                          <p>{{img.product_image}}</p>
                          <a class="close" matRipple matTooltip="Delete" (click)="deleteImage(img.id,i)"><i class="material-icons">delete_sweep</i></a>
                          <div class="overlay">
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="vertical-img multiple-img" *ngIf="productDetail?.image_array?.length > 2">
                    <div class="sm-img">
                      <ul>
                        <li class="overlay-content" *ngFor="let img of product_images;let i=index">
                          <!-- <img src="{{img.product_image}}"> -->
                          <img (click)="openImage(img.product_image)" src="{{serve.product_image_url+img.product_image}}" >

                          <p>{{img.product_image}}</p>
                          <a class="close" matRipple matTooltip="Delete" (click)="deleteImage(img.id,i)"><i class="material-icons">delete_sweep</i></a>
                          <div class="overlay">
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="row" >
        <div class="row">
          <div class="col s6">
            <div class="cs-description" style="position: relative;">
              <h2 style="right: 20px;margin-left: 20px;">Thickness description</h2>
              <a matTooltip="Edit Detail" (click)="openEditDialog(productDetail.description,'description')" style="position: absolute; right: 10px; top: 10px; cursor: pointer"><i class="material-icons"> create </i></a>
              <p>{{productDetail.thickness_desc && productDetail.thickness_desc!='' ? productDetail.thickness_desc : '--'}}</p>
            </div>
          </div>
          <div class="col s6">
            <div class="cs-description" style="position: relative;">
              <h2 style="right: 20px;margin-left: 20px;">Company Description</h2>
              <a matTooltip="Edit Detail" (click)="openEditDialog(productDetail.description,'description')" style="position: absolute; right: 10px; top: 10px; cursor: pointer"><i class="material-icons"> create </i></a>
              <p>{{productDetail.company_desc && productDetail.company_desc!='' ? productDetail.company_desc : '--'}}</p>
            </div>
          </div>


        </div>


        <div class="row">
          <div class="col s6">
            <div class="cs-description" style="position: relative;">
              <h2 style="right: 20px;margin-left: 20px;">Print Description</h2>
              <a matTooltip="Edit Detail" (click)="openEditDialog(productDetail.description,'description')" style="position: absolute; right: 10px; top: 10px; cursor: pointer"><i class="material-icons"> create </i></a>
              <p>{{productDetail.print_description && productDetail.print_description!='' ? productDetail.print_description : '--'}}</p>
            </div>
          </div>
          <div class="col s6">
            <div class="cs-description" style="position: relative;">
              <h2 style="right: 20px;margin-left: 20px;">description</h2>
              <a matTooltip="Edit Detail" (click)="openEditDialog(productDetail.description,'description')" style="position: absolute; right: 10px; top: 10px; cursor: pointer"><i class="material-icons"> create </i></a>
              <p>{{productDetail.desc && productDetail.desc!='' ? productDetail.desc : '--'}}</p>
            </div>
          </div>

        </div>


      </div> -->
    </div>

  </div>
  <div class="h50"></div>

