.complete-bg{
    background: #52A1E3 !important;
}

.green-bg
{
    background: #12af12 !important;
    color: #fff !important;
}

.red-bg
{
    background: #ff0000 !important;
    color: #fff !important;
}