
<div class="main-container" >
  <div class="middle-container">
    <div class="page-heading">
      <div class="heading-text bc-space">
        <div class="back-btn" (click)="back()">
          <a mat-button ><i class="material-icons">arrow_right_alt</i></a>
        </div>
        <h2  *ngIf="this.scheme_id == '0'">Add Pop Scheme</h2>
        <h2  *ngIf="this.scheme_id != '0'">Update Pop Scheme</h2>

      </div>
    </div>
  </div>

  <div *ngIf="loader">
    <mat-spinner class="loader">
      <div><p>Loading....</p></div>
    </mat-spinner>
  </div>
  <form #f="ngForm" (ngSubmit)=" f.valid && submit_pop_scheme()" >
    <div class="container-outer">
      <div class="container" >
        <div class="row">
          <div class="col s2 empty"> </div>
          <div class="col s8">
            <div class="sprate-box">
              <div class="cs-heading">
                <h2>ADD SCHEME DETAILS</h2>
                <span class="required">Indicates required fields ( <sup>*</sup> )</span>
              </div>
              <mat-divider class="left-right-15 mt10"></mat-divider>
              <div class="from-fields">

                <div class="row">
                  <div class="col s4 pl0">
                    <div class="control-field">
                      <mat-form-field class="cs-input">
                        <input matInput [matDatepicker]="picker" placeholder="Scheme Start Date" name="start_scheme_date" #start_scheme_date="ngModel" [min]="today" (click)="picker.open()"  [(ngModel)]="scheme_data.start_scheme_date" (dateChange)="onDate($event,'start_scheme_date');scheme_data.end_scheme_date = ''" [ngClass]="{'has-error' : start_scheme_date.invalid } " required readonly>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col s4 pl0">
                    <div class="control-field">
                      <mat-form-field class="cs-input">
                        <input matInput [matDatepicker]="picker2" placeholder="Scheme End Date" name="end_scheme_date" #end_scheme_date="ngModel" [min]="scheme_data.start_scheme_date" (click)="picker2.open()" [(ngModel)]="scheme_data.end_scheme_date" (dateChange)="onDate($event,'end_scheme_date')" [ngClass]="{'has-error' : end_scheme_date.invalid } " required readonly>
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col s4 pl0">
                    <div class="control-field">
                      <mat-form-field class="cs-input">
                        <mat-select multiple name="category" placeholder="Brand" #category="ngModel" [(ngModel)]="scheme_data.category" [ngClass]="{'has-error' : category.invalid } " required>
                          <mat-option disabled="">Select Brand</mat-option>
                          <mat-option  *ngFor="let category of category_list" (click)="selected_category_name = category.category" value="{{category.id}}">{{category.category}}</mat-option>
                        </mat-select>
                        <div class="alert alert-danger" *ngIf="!category.valid && category.touched">
                          Brand is required...
                        </div>
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col s4 pl0">
                    <div class="control-field">
                      <mat-form-field class="cs-input">
                        <mat-select name="qty_type" placeholder="Quantity Type" #qty_type="ngModel" [(ngModel)]="scheme_data.qty_type" (ngModelChange)="scheme_data.item_qty_to = '' && scheme_data.item_qty_from = ''" [ngClass]="{'has-error' : qty_type.invalid }" required>
                          <mat-option value="between">Between</mat-option>
                          <mat-option value="above">Above</mat-option>
                        </mat-select>
                        <div class="alert alert-danger" *ngIf="!qty_type.valid && qty_type.touched">
                          This Field is required...
                        </div>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="pl0" [ngClass]="scheme_data.qty_type == 'between' ? 'col s2' :'col s4'">
                    <div class="control-field">
                      <mat-form-field class="cs-input">
                        <input matInput placeholder="Item Qty From." onkeypress="return event.charCode>=48 && event.charCode<=57"  name="item_qty_from" #item_qty_from="ngModel" [(ngModel)]="scheme_data.item_qty_from" (ngModelChange)="convert_to_int(scheme_data.item_qty_from) < convert_to_int(scheme_data.item_qty_to) ?  disabe_save = false : disabe_save = true" [ngClass]="{'has-error' : item_qty_from.invalid } " required>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="pl0" [ngClass]="scheme_data.qty_type == 'between' ? 'col s2' :'col s4'" *ngIf="scheme_data.qty_type == 'between'">
                    <div class="control-field">
                      <mat-form-field class="cs-input">
                        <input matInput placeholder="Item Qty To." onkeypress="return event.charCode>=48 && event.charCode<=57"  name="item_qty_to" #item_qty_to="ngModel" [(ngModel)]="scheme_data.item_qty_to" (ngModelChange)="convert_to_int(scheme_data.item_qty_to) > convert_to_int(scheme_data.item_qty_from)?  disabe_save = false : disabe_save = true" [ngClass]="{'has-error' : item_qty_to.invalid } " required>
                      </mat-form-field>
                    </div>
                  </div>

                  <!-- <div class="col s4 pl0">
                    <div class="control-field">
                      <mat-form-field class="cs-input">
                        <input matInput placeholder="Gift Scheme ( %)" onkeypress="return event.charCode>=48 && event.charCode<=57"  name="scheme_percentage" #scheme_percentage="ngModel" [(ngModel)]="scheme_data.scheme_percentage" [ngClass]="{'has-error' : scheme_percentage.invalid } " required>
                        <mat-autocomplete #auto="matAutocomplete">
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>
                  </div> -->

                </div>

              </div>
            </div>
            <div class="cs-btn fixedd mt32 text-right">
              <div class="in-btn mr25">
                <button *ngIf="this.scheme_id == '0'" mat-raised-button color="accent" [disabled]="disabe_save && scheme_data.qty_type == 'between'" >Save</button>
                <button *ngIf="this.scheme_id != '0'" mat-raised-button color="accent" [disabled]="disabe_save && scheme_data.qty_type == 'between'">Update</button>
              </div>
            </div>
          </div>
          <div class="col s2 empty"> </div>
        </div>
      </div>

    </div>
  </form>
</div>
