<div class="main-container">
  <div class="middle-container mb0">
    <div class="page-heading">
      <img src="assets/img/report.svg" class="h-icon h20">
      <div class="heading-text">
        <h2>Discount Structure Wise</h2>
      </div>
    </div>
    <div class="left-auto">
      
      <div class="uppr-one m-right-data">
        <ul>
          <li class="refresh-area mr0 after-none">
            <a class="refresh-btn" mat-raised-button (click)="refresh()"  matTooltip="Refresh" ><i class="material-icons"> refresh</i></a>
          </li>
        </ul>
      </div>
      
      <div class="from-fields cs-flex">
        <select class="select-filter" name="user_type" [(ngModel)]="data.user_type">
          <option  value="undefined" disabled hidden> Party Type</option>
          <option value="1" >Channel Partner</option>
          <option value="7" >Direct Dealer</option>
          <option value="3" >Retail Partner</option>
        </select>
        
        <select (change)="getDistrict()" class="select-filter" name="state" #state="ngModel"  [(ngModel)]="data.state">
          <option value="undefined"  disabled hidden >Select State</option>
          <option *ngFor="let state of state_list"(keyup.enter)="getDistrict()"(click)="getDistrict()" value="{{state}}">{{state}}</option>
        </select>
        
        
        
        <select (change)="getCityList()" class="select-filter" name="district" #district="ngModel"  [(ngModel)]="data.district">
          <option    value="undefined" disabled>Select District</option>
          <option *ngFor="let district of district_list"(keyup.enter)="getCityList()"(click)="getCityList()" value="{{district}}">{{district}}</option>
        </select>
        
        
        
        
        <select class="select-filter" name="city" #city="ngModel"  [(ngModel)]="data.city">
          <option  value="undefined" disabled>Select city</option>
          <option *ngFor="let city of city_list" value="{{city}}">{{city}}</option>
        </select>
        
        
        
      </div>
      <div class="cs-btn mt5">
        <div class="in-btn">
          <button mat-raised-button color="accent" (click)="submit()">Go</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container-outer">
    <mat-spinner class="loader" *ngIf="loader">
      <div><p>Loading....</p></div>
    </mat-spinner>
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="excel-table page-scroll">
            <div class="cs-table">
              <div class="stickyHead">
                <div class="table-head">
                  <table>
                    <tr>
                      <th class="w50">Sr.No</th>
                      <th class="w250">Company name</th>
                      <th class="w60 text-center">UPVC BALL VALVE</th>
                      <th class="w110 text-center">PROJECT ANGLE VALVE - INDIAN</th>
                      <th class="w70 text-center">PRESSURE PUMP</th>
                      <th class="w110 text-center">PROJECT ANGLE VALVE - IMPORTED</th>
                      <th class="w50 text-center">PVC TAPS</th>
                      <th class="w60 text-center">CONTROL VALVE</th>
                      <th class="w90 text-center">MIXER BENDS & CRUTCH</th>
                      <th class="w80 text-center">SS FAUCET</th>
                      <th class="w90 text-center">BALL VALVE & CHECK VALVE</th>
                      <th class="w60 text-center">FAUCETS</th>
                      <th class="w90 text-center">DIVERTER CONCEALED BODY</th>
                      <th class="w60 text-center">FLUSH VALVE</th>
                      <th class="w80 text-center">SENSOR FAUCETS</th>
                      <th class="w80 text-center">HEALTH FAUCET</th>
                      <th class="w95 text-center">SANITARYWARE</th>
                      <th class="w60 text-center">FAUCET PARTS</th>
                      <th class="w120 text-center">SPECIALLY PURPOSE TAPS</th>
                      <th class="w65 text-center">SHOWERS</th>
                      <th class="w80 text-center">ACCESSORIES</th>
                    </tr>
                  </table>
                </div>
              </div>
              
              <div class="table-container" *ngIf ="product_data.length">
                <div class="table-content">
                  <table>
                    <tr *ngFor= "let list of product_data;let i=index;">
                      <td class="w50">{{i+1}}</td>
                      <td class="w250">{{list.company_name}}</td>
                      <td class="w60 text-center">{{list.UPVCBallValve}}</td>
                      <td class="w110 text-center">{{list.ProjectAngleValveIndian}}</td>
                      <td class="w70 text-center">{{list.PressurePump}}</td>
                      <td class="w110 text-center">{{list.ProjectAngleValveImported}}</td>
                      <td class="w50 text-center">{{list.PVCTaps}}</td>
                      <td class="w60 text-center">{{list.ControlValve}}</td>
                      <td class="w90 text-center">{{list.MixerBendsCrutch}}</td>
                      <td class="w80 text-center">{{list.SSFaucet}}</td>
                      <td class="w90 text-center">{{list.BallValveCheckValve}}</td> 
                      <td class="w60 text-center">{{list.Faucets}}</td>
                      <td class="w90 text-center">{{list.DiverterConcealedBody}}</td>
                      <td class="w60 text-center">{{list.FlushValve}}</td>
                      <td class="w80 text-center">{{list.SensorFaucets}}</td>
                      <td class="w80 text-center">{{list.HealthFaucet}}</td>
                      <td class="w95 text-center">{{list.Sanitaryware}}</td>
                      <td class="w60 text-center">{{list.FaucetParts}}</td>
                      <td class="w120 text-center">{{list.SpeciallyPurposeTaps}}</td>
                      <td class="w65 text-center">{{list.Showers}}</td>
                      <td class="w80 text-center">{{list.Accessories}}</td> 
                    </tr> 
                    
                    
                    <ng-container *ngFor="let lead of skelton">
                      <tr class="sk-loading"  *ngIf="loader">
                        <td class="w50"><div>&nbsp;</div></td>
                        <td class="w250"><div>&nbsp;</div></td>
                        <td class="w60"><div>&nbsp;</div></td>
                        <td class="w110"><div>&nbsp;</div></td>
                        <td class="w70"><div>&nbsp;</div></td>
                        <td class="w110"><div>&nbsp;</div></td>
                        <td class="w50"><div>&nbsp;</div></td>
                        <td class="w60"><div>&nbsp;</div></td>
                        <td class="w90"><div>&nbsp;</div></td>
                        <td class="w80"><div>&nbsp;</div></td>
                        <td class="w90"><div>&nbsp;</div></td>
                        <td class="w60"><div>&nbsp;</div></td>
                        <td class="w90"><div>&nbsp;</div></td>
                        <td class="w60"><div>&nbsp;</div></td>
                        <td class="w80"><div>&nbsp;</div></td>
                        <td class="w80"><div>&nbsp;</div></td>
                        <td class="w95"><div>&nbsp;</div></td>
                        <td class="w60"><div>&nbsp;</div></td>
                        <td class="w120"><div>&nbsp;</div></td>
                        <td class="w65"><div>&nbsp;</div></td>
                        <td class="w80"><div>&nbsp;</div></td>
                      </tr>
                    </ng-container>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    
    
  </div>
  
 
  
  <div class="fix-btn">
    <a class="bottom-btn ecxel-btn" matTooltip="Download Excel" matTooltipPosition="above" mat-raised-button (click)="exportAsXLSX()"><img src="assets/img/excel.svg"></a>
  </div>
  
</div>






