<div class="main-container">
  <div class="middle-container mb0">
    <div class="page-heading">
      <div class="heading-text">
        <h2>Warehouse To Warehouse Transfer</h2>
      </div>
    </div>
    
    <div class="uppr-one m-right-data">
      
      <ul>
        <li class="refresh-area mr0 after-none">
          <a class="refresh-btn" mat-raised-button (click)="get_warehouse_to_warehouse_transfer_list('refresh')"  matTooltip="Refresh" ><i class="material-icons"> refresh</i></a>
        </li>
      </ul>
      
      <div class="top-pagination">
        <ul>
          <li><p>Pages {{pagenumber}} Of {{total_page}}</p>
          </li>
          <li>
            <button mat-button class="left-btn" (click)="start=start-page_limit; get_warehouse_to_warehouse_transfer_list()" [disabled]="pagenumber == 1">
              <i class="material-icons">keyboard_arrow_left</i>
            </button>
          </li>
          <li>
            <input type="text" placeholder="GO TO" name="pagenumber" (keyup.enter)="start=(pagenumber*page_limit)-page_limit; get_warehouse_to_warehouse_transfer_list()" [(ngModel)]="pagenumber"  min="1" max={{total_page}}>
          </li>
          
          <li>
            <button mat-button class="right-btn"  (click)="start=start+page_limit; get_warehouse_to_warehouse_transfer_list()" [disabled]="pagenumber == total_page">
              <i class="material-icons">keyboard_arrow_right</i>
            </button>
          </li>
        </ul>
      </div>
      
    </div>
  </div>
  
  <div class="container-outer padding0">
    <div class="container">
      <div class="cs-table cs-table-scroll">
        <div class="stickyTableHead" style="width: fit-content;">
          <div class="table-head">
            <table>
              <tr>
                <th class="w30">S.No.</th>
                <th class="w150">Date</th>
                <th class="w100">Transfer ID</th>
                <th class="w150 text-center">Transfer From</th>
                <th class="w150 text-center">Transfer To</th>
                <th class="w130 text-center">Transfer Stock</th>
                <th class="w130 text-center">Status</th>
              </tr>
            </table>
          </div>
          <div class="table-head bdrt">
            <table>
              <tr>
                <th class="w30"></th>
                <th class="w150">
                </th>
                <th class="w100"></th>
                <th class="w150"></th>
                <th class="w150"></th>
                <th class="w130"></th>
                <th class="w130 text-center"></th>
                
              </tr>
            </table>
          </div>
        </div>
        
        <div class="table-container" style="width: fit-content;">
          <div class="table-content">
            <table>
              <tr *ngFor="let transfer_data of warehouse_to_warehouse_transfer_list; let i = index">
                <td class="w30">{{i+1}}</td>
                <td class="w150">{{transfer_data.date_created | date : 'd MMM, y'}}</td>
                <td class="w100">
                  
                  <a class="link-btn" mat-button (click)="view_details_of_warehouse_to_warehouse_transfer(transfer_data.id)">{{transfer_data.transaction_id}}</a>
                  
                  
                </td>
                <td class="w150 text-center">{{transfer_data.transfer_from}}</td>
                <td class="w150 text-center">{{transfer_data.transfer_to}}</td>
                <td class="w130 text-center">{{transfer_data.total_master_box_assign +' Master Box'}}</td>
                <td class="w130 text-center">
                  
                  
                    <button mat-button class="verify-mat" >          
                      <i *ngIf="transfer_data.all_master_box_recieved_check_flag == 1" class="material-icons verify-button">verified</i>
                      <i *ngIf="transfer_data.all_master_box_recieved_check_flag == 0" class="material-icons cancel-button">cancel</i>
                    </button>
                    
                  </td>
                  
                </tr>
                
                <ng-container *ngFor="let lead of skelton">
                  <tr class="sk-loading"  *ngIf="loader">
                    <td class="w30"><div>&nbsp;</div></td>
                    <td class="w150"><div>&nbsp;</div></td>
                    <td class="w150"><div>&nbsp;</div></td>
                    <td class="w150"><div>&nbsp;</div></td>
                    <td class="w130"><div>&nbsp;</div></td>
                    <td class="w130"><div>&nbsp;</div></td>
                  </tr>
                </ng-container>
                
              </table>
              
            </div>
          </div>
          
          <div class="data-not-available"  *ngIf="data_not_found">
            <div class="outer">
              <div class="iinear">
                <div class="figure" matRipple>
                  <div class="header">
                    <img src="assets/img/data-not-available-header.svg" alt="">
                  </div>
                  
                  <div class="description">
                    <div class="cs-heading">
                      <h2>Warehouse Transfer</h2>
                    </div>
                    <div class="img">
                      <i class="material-icons">error_outline</i>
                    </div>
                    <div class="psc">
                      <p>Data Not Available</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
    </div>
    
  </div>
  